:root {
  --red-color: #ff7b7b;
  --orange-color: #ffb07b;
  --yellow-color: #fff27b;
  --green-color: #b7ff7b;
  --blue-color: #7bffbd;
  --event-height: 50px;
  --day-height: 130px;
  --header-bg-color: #2c2c2e;
  --form-bg-color: #1c1c1e;
  --tooltip-bg-color: #333;
  --button-bg-color: #5a5aed;
  --border-color: #444;
  --border-color-08: #444444ba;
  --border-color-05: #44444480;
  --timeline-color: #444;
  --day-number-active-bg: #333;
}

body {
  background-color: rgb(29, 27, 32);
  margin: 0;
  padding: 0;
  color: white;
}
body h1 {
  margin: 2em 0;
  font-size: 1.5rem;
  text-align: center;
}
body .navigation {
  display: flex;
  gap: 1rem;
}
body .navigation button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

@keyframes opacityFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#calendar {
  max-width: 800px;
  height: 850px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  border: 1px solid;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}
#calendar .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#calendar #calendarGrid .day-name {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}
#calendar #calendarGrid #calendarContainer .month-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5px;
  padding: 30px 0;
}
#calendar #calendarGrid #calendarContainer .month-container > .day-box:nth-child(2) .day-number, #calendar #calendarGrid #calendarContainer .month-container > .day-box:nth-child(9) .day-number, #calendar #calendarGrid #calendarContainer .month-container > .day-box:nth-child(16) .day-number, #calendar #calendarGrid #calendarContainer .month-container > .day-box:nth-child(23) .day-number, #calendar #calendarGrid #calendarContainer .month-container > .day-box:nth-child(30) .day-number, #calendar #calendarGrid #calendarContainer .month-container > .day-box:nth-child(37) .day-number {
  color: red !important;
}
#calendar #calendarGrid #calendarContainer .month-container > .day-box:nth-child(8) .day-number, #calendar #calendarGrid #calendarContainer .month-container > .day-box:nth-child(15) .day-number, #calendar #calendarGrid #calendarContainer .month-container > .day-box:nth-child(22) .day-number, #calendar #calendarGrid #calendarContainer .month-container > .day-box:nth-child(29) .day-number, #calendar #calendarGrid #calendarContainer .month-container > .day-box:nth-child(36) .day-number, #calendar #calendarGrid #calendarContainer .month-container > .day-box:nth-child(43) .day-number {
  color: blue !important;
}
#calendar #calendarGrid #calendarContainer .month-container .month-name-container {
  grid-column: 1/8;
  text-align: center;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 30px;
}
#calendar #calendarGrid #calendarContainer .month-container .month-name-container .month-name {
  font-size: 1.2em;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--header-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box {
  border: 1px solid var(--border-color);
  cursor: pointer;
  position: relative;
  border-collapse: collapse;
  height: var(--day-height);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-number {
  font-size: 1.1em;
  padding: 0.3em;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .all-day-schedule, #calendar #calendarGrid #calendarContainer .month-container .day-box .timed-schedule {
  padding: 0.3em;
  list-style: none;
  margin: 0;
  border-top: 1px solid var(--border-color-05);
  min-height: 1.3em;
}
@media (max-width: 768px) {
  #calendar #calendarGrid #calendarContainer .month-container .day-box .all-day-schedule, #calendar #calendarGrid #calendarContainer .month-container .day-box .timed-schedule {
    padding: 0.4em 0.2em 0.2em 0.2em;
    min-height: 0.8em;
  }
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .all-day-schedule li, #calendar #calendarGrid #calendarContainer .month-container .day-box .timed-schedule li {
  font-size: 0.8em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  list-style: none;
}
@media (max-width: 768px) {
  #calendar #calendarGrid #calendarContainer .month-container .day-box .all-day-schedule li, #calendar #calendarGrid #calendarContainer .month-container .day-box .timed-schedule li {
    font-size: 0.7em;
  }
  #calendar #calendarGrid #calendarContainer .month-container .day-box .all-day-schedule li .icon, #calendar #calendarGrid #calendarContainer .month-container .day-box .timed-schedule li .icon {
    display: none;
  }
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full {
  background-color: var(--header-bg-color);
  height: var(--day-height);
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full.none {
  display: none;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full.full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full.full .day-full-header .day-full-title .btn-close {
  opacity: 1;
  animation: opacityFadeIn 2s;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .day-full-header {
  margin-top: 2em;
  margin-bottom: 1em;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .day-full-header .day-full-title {
  font-size: 1.2em;
  margin: 0;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .day-full-header .day-full-title .btn-close {
  position: absolute;
  right: 2em;
  opacity: 0;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg-color);
  padding: 1rem;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .form-container .new-event-form {
  width: 400px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .form-container .new-event-form label {
  display: block;
  margin-bottom: 0.5rem;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .form-container .new-event-form input,
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .form-container .new-event-form select,
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .form-container .new-event-form button {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--form-bg-color);
  color: white;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .form-container .new-event-form button {
  background-color: var(--button-bg-color);
  cursor: pointer;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .events {
  margin: 0;
  position: relative;
  flex-grow: 1;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .events .timeline > li {
  position: relative;
  height: var(--event-height);
  border-bottom: 1px solid var(--timeline-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .events .timeline > li span {
  width: 70px;
  text-align: center;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .events .timeline > li .event {
  position: absolute;
  left: 70px;
  width: calc(100% - 70px);
  border-radius: 2px;
  padding: 0rem 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .events .timeline > li .event.red {
  background-color: var(--red-color);
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .events .timeline > li .event.orange {
  background-color: var(--orange-color);
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .events .timeline > li .event.yellow {
  background-color: var(--yellow-color);
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .events .timeline > li .event.green {
  background-color: var(--green-color);
}
#calendar #calendarGrid #calendarContainer .month-container .day-box .day-full .event-list .events .timeline > li .event.blue {
  background-color: var(--blue-color);
}
@media (max-width: 768px) {
  #calendar .day-number {
    font-size: 1em;
  }
  #calendar .day-schedule {
    font-size: 0.8em;
  }
}
@media (max-width: 480px) {
  #calendar .calendar-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  #calendar .day-full {
    padding: 5px;
    height: 80px;
  }
  #calendar .day-number {
    font-size: 0.9em;
  }
  #calendar .day-schedule {
    font-size: 0.7em;
  }
}

/*# sourceMappingURL=calendar.css.map */
